.App {
  text-align: center;
}

html {
  background-color: #3c4444;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #eee;
  font-size: 32px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 200px);
}

.chess-square {
  width: 200px;
  height: 200px;
}

.chess-square--white {
  background-color: #ddd;
}

.chess-square--black {
  background-color: #333;
}

.chess-piece {
  text-align: left;
  width: 160px;
  height: 160px;
  position: relative;
  top: 20px;
  left: 20px;
}

.chess-square--white .chess-piece--white {
  filter: drop-shadow(0 0 1rem #ccc);
  fill: #eee;
}

.chess-square--black .chess-piece--black {
  filter: drop-shadow(0 0 2rem #555);
  fill: #222;
}

.chess-square--white .chess-piece--black {
  fill: #333;
}

.chess-square--black .chess-piece--white {
  fill: #ddd;
}

.move-description--from {
  font-size: 32px;
}

.move-description--to {
  font-size: 90px;
  line-height: 0;
}

.next-move {
  font-size: 24px;
  background-color: #333;
  color: #eee;
  border-radius: 10px;
}
